@import 'tailwindcss';

@layer base {
  :root {
    color-scheme: light;
    --background: 255 255 255;
    --foreground: 17 24 39;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --background: 17 24 39;
      --foreground: 243 244 246;
    }
  }

  html.light {
    color-scheme: light;
    --background: 255 255 255;
    --foreground: 17 24 39;
  }

  html.dark {
    color-scheme: dark;
    --background: 17 24 39;
    --foreground: 243 244 246;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
